#PhasorPlot .chart-plot-background {
-fx-background-color: transparent;
}


#PhasorPlot .default-color0.chart-symbol{
    -fx-background-radius: 0.5;
    -fx-padding: 0.5;
    -fx-background-color: blue;
}

#UniCircle .chart-plot-background {
-fx-background-color: transparent;
}

#UniCircle .default-color0.chart-series-line {
    -fx-stroke: black;
    -fx-stroke-width: 1;

}

#UniCircle .default-color0.chart-line-symbol {
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: black;
}